* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

li a {
  color: #fff;
}

li a:hover {
  color: rgb(255, 215, 27);
  text-decoration: none;
}

h1 {
  font-size: 55px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 1.75em;
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  line-height: 1.67em;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  line-height: 1.78em;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #ffd71b;
  border: 2px solid #ffd71b;
  color: #111;
  display: inline-block;
  position: relative;
  outline: 0;
  font-weight: 700;
  padding: 0;
  font-size: 13px;
  line-height: 1.7em;
  text-transform: uppercase;
  align-self: flex-start;
  padding: 10px 47px;
}

.btn-primary:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.primary-text {
  color: #fff;
}

.secondary-text {
  color: #ffd71b;
}

.other-text {
  color: #000;
}

.hero-banner {
  background-image: url(../images/image.png);
  background-color: #cccccc;
  height: 648px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.top-nav {
  display: flex;
  justify-content: center;
  font-weight: 200;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}

.top-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 5px;
  width: 100%;
  max-width: 57%;
  border-bottom: 0.5px solid #fff;
}

.top-nav__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top-nav__right-side {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: center;
  font-family: "roboto slab", sans-serif;
  font-weight: 200;
  margin-top: 10px;
}

.blue-sky-bistro-logo {
  height: 77px;
  width: 107px;
}

.main-nav__container {
  display: flex;
  gap: 50px;
  align-items: center;
  width: 100%;
  max-width: 57%;
}

.main-nav__items {
  display: flex;
  gap: 10px;
}

.main-nav a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.hero-banner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-left: 28%;
  gap: 5px;
}

.hero-banner__description {
  font-weight: 200;
  font-size: 19px;
  line-height: 19px;
  font-family: "roboto", sans-serif;
  width: 377px;
  height: auto;
}

.features__image {
  width: 347px;
  height: 231px;
}

.features {
  margin: 50px 0;
  display: flex;
}

.features__items {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.features__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features__description {
  width: 346.66px;
  font-family: "roboto slab", sans-serif;
  font-weight: 400;
  color: #707070;
  line-height: 27px;
  font-size: 15px;
}

.features__heading {
  font-size: 18px;
}

.daily-special {
  background: url(../images/background-for-daily.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 60px;
  align-items: center;
  gap: 15px;
  font-weight: 200;
}

.daily-special__heading {
  margin: 15px;
}

.intro {
  margin: 50px;
  display: flex;
}

.intro__container {
  display: flex;
}

.deli-hours {
  width: 535px;
  height: 424.5px;
  background-image: url(../images/wh-pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 28px;
}

.deli-hours__container {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
}

.deli-hours__heading {
  align-self: center;
  padding: 20px;
}

.deli-hours__times {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.day {
  display: flex;
  justify-content: space-between;
}
