* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Oswald", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

li a {
  color: #fff;
}

li a:hover {
  color: rgb(255, 215, 27);
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 1.75em;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  line-height: 1.78em;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #ffd71b;
  border: 2px solid #ffd71b;
  color: #111;
  display: inline-block;
  position: relative;
  outline: 0;
  font-weight: 700;
  padding: 0;
  font-size: 13px;
  line-height: 1.7em;
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.white-text {
  color: #fff;
}

.hero-banner {
  background-image: url(../images/image.png);
  background-color: #cccccc;
  height: 648px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.top-nav {
  display: flex;
  justify-content: center;
  font-weight: 200;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}

.top-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 5px;
  width: 100%;
  max-width: 57%;
  border-bottom: 0.5px solid #fff;
}

.top-nav__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top-nav__right-side {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: center;
  font-family: "roboto slab", sans-serif;
  font-weight: 200;
  margin-top: 10px;
}

.blue-sky-bistro-logo {
  height: 77px;
  width: 107px;
}

.main-nav__container {
  display: flex;
  gap: 50px;
  align-items: center;
  width: 100%;
  max-width: 57%;
}

.main-nav__items {
  display: flex;
  gap: 10px;
}

.main-nav a {
  display: flex;
  gap: 10px;
  align-items: center;
}
